---
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";

const pages = await getCollection('routes');

// Filter out top-level pages (pages without parents)
const topLevelPages = pages.filter((page) => !page.data.parent); // Assuming 'parent' exists in the page data

---
<Layout>
<ul>
  {topLevelPages.map(page => {

    return (
    <li>
      <a href={page.data.uri}>{page.data.title}</a>
      {page.data.children.length > 0 && (
        <ul>
          {page.data.children.map((child) => {
            
            return (
            <li>
              <a href={child.uri}>{child.title}</a>
            </li>
          )})}
        </ul>
      )}
    </li>
  )})}
</ul>
</Layout>